<% layout("layouts/Boilerplate") %>

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading"><%= err.message %></h4>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae laboriosam
    architecto vitae? Odit nam, repellendus accusantium explicabo pariatur in
    quis ipsum saepe dicta voluptatum cum harum nisi fugit. Qui, perferendis.
  </p>
  <hr />
  <p class="mb-0">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. consectetur
    inventore odio laudantium omnis non eum vitae fugiat alias.
  </p>
</div>
